








/*body { 
	display: flex;
	flex-direction: 
 }
style="background-image: url('Clear%20Day%20Bkgrd.jpg')"*/


/*.auto-style25 {
	text-align: center;
}
.auto-style23 {
	color: #000000;
	font-family: "Palatino Linotype";
	font-size: x-large;
}
.auto-style24 {
	font-size: x-large;
	text-align: center;
}
.auto-style27 {
	color: #000000;
	font-family: "Palatino Linotype";
	font-size: medium;
	font-weight: bold;
}
a {
	color: #000000;
}
.auto-style32 {
	text-decoration: underline;
	font-family: "Palatino Linotype";
	font-size: medium;
}
.auto-style33 {
	font-family: "Palatino Linotype";
	font-size: medium;
}
.auto-style35 {
	color: #000000;
	font-family: "Palatino Linotype";
	font-size: medium;
}
.auto-style36 {
	color: #0000FF;
}
.auto-style37 {
	font-family: "Palatino Linotype";
	font-weight: bold;
	font-size: medium;
}
.auto-style38 {
	font-family: "Palatino Linotype";
	font-size: medium;
	text-align: center;
}
.auto-style1 {
	text-align: center;
}
.auto-style6 {
	font-size: medium;
}
.auto-style7 {
	font-family: "Lucida Handwriting";
	color: #FF0000;
	font-style: normal;
}
.auto-style43 {
	text-align: center;
	margin-right: 0px;
}
.auto-style44 {
	margin-left: 183px;
}
.auto-style45 {
	font-style: normal;
}
.auto-style46 {
	font-size: medium;
	font-style: normal;
}
.auto-style47 {
	text-align: left;
}
.auto-style42 {
	font-size: large;
	font-family: "Palatino Linotype";
	font-weight: bold;
}
.auto-style41 {
	font-size: large;
	font-style: normal;
}
.auto-style48 {
	text-align: right;
}*/