.landing-page {
	
}

.landing-page header {
	background-color: yellow;

}

.landing-page footer {
	background-color: hotpink;
}
.container {
	
}

.container header {
	background-color: green;

}

.container footer {
	background-color: purple;
}